<pre>
# CURL PASTE
---

- HTTP POST files here:
    curl -F file=@yourfile.png octocat.ir

- If you want your file to view just once
    curl -F once=@yourfile.png octocat.ir

- You can also send file by an username which the user can get all files at once
    curl -F username=@yourfile.png octocat.ir

    - To list all the files under a spesific username
        curl octocat.ir/username
    - Or using wget
        wget localhost:8000/username -qO -
    - To download them just pipe them to wget
        curl octocat.ir/username | wget -i -
    - Or
        wget octocat.ir/username -qO - | wget -i -

> Remember that files save for 24 hours!

### Rules
---

octocat.ir is NOT a platform for:
    - piracy
    - backups



### OPERATOR NOTES
---

If you run a server and like this site, clone it! Centralization is bad.
<a href="https://github.com/shabane">octocat on github</a>

You can also support it financially via <a href="https://daramet.com/shabane">daramet</a>.


### About
---
Yay! this is me Arya :)

<a href="https://daramet.com/shabane"><img alt="Arya Shabane" width="20%" src="https://daramet.com/backbone//avatars/2023/05/c4e58f1435a6778f13534494bab0ddba.jpeg"></a>


### Abuse
-----

If you would like to request deletion, please contact mia via
IRC on Libera Chat, or send an email to m.mohamadshabane@gmail.com

Please allow up to 24 hours for a response.
</pre>